__pycache__/
*.py[cod]
.ipynb_checkpoints/
support/Electricity_Prices.xlsx
emission factors/input-output tables/_other_unused/GTAP_IOT_12.Power.MRIO_2017.csv
emission factors/input-output tables/_other_unused/GTAP_IOT_12.Power.MRIO_2023.csv